POSTGRES_USER=pizza_user
POSTGRES_PASSWORD=pizza_pass
POSTGRES_DB=pizza_db
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=3000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
NODE_EXPORTER_PORT=9100

CORS_ORIGIN=http://localhost:3000
REACT_APP_API_URL=http://localhost:8080

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
